{% extends "layout/main.html" %}

{% block content %}
{% if posts %}
{% for post in posts %}
{% post_display post=post %}
<hr>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-md-12">
        <p class="text-center">Nothing to see here</p>
    </div>
</div>
{% endif %}

<nav>
    <ul class="pager">
        {% if previous_page %}
        <li class="previous "><a href="/posts/page/{{ previous_page }}"><span aria-hidden="true">&larr;</span>Newer</a></li>
        {% else %}
        <li class="previous disabled"><a><span aria-hidden="true">&larr;</span>Newer</a></li>
        {% endif %}
        {% if next_page %}
        <li class="next"><a href="/posts/page/{{ next_page }}">Older<span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
        <li class="next disabled"><a>Older<span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
