{% extends "layout/main.html" %}

{% block content %}
<form method="post">
    {% if form_errors %}
    {% for error in form_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
    {{ csrf_token|safe }}
    <div class="form-group">
        <label for="title-box">Title</label>
        <input type="text" class="form-control" id="title-box" placeholder="Title" name="title" value="{{ post.title }}">
    </div>
    <div class="form-group">
        <label for="content-box">Content</label>
        <textarea class="form-control" id="content-box" placeholder="Content" name="content">{{ post.content }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-danger" href="/admin/posts/{{ post.id }}/delete">Delete Post</a>
    </div>
</form>
{% endblock %}
