{% extends "layout/main.html" %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Posted At</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row"><a href="/admin/posts/{{ post.id }}">{{ post.id|as_id }}</a></th>
            <td><a href="/admin/posts/{{ post.id }}">{{ post.title }}</a></td>
            {% if post.published_at %}
            <td><a href="/admin/posts/{{ post.id }}">{{ post.published_at|date:"l j F Y H:i" }}</a></td>
            {% else %}
            <td>―</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pager">
        {% if previous_page %}
        <li class="previous "><a href="/admin/posts/page/{{ previous_page }}"><span aria-hidden="true">&larr;</span>Newer</a></li>
        {% else %}
        <li class="previous disabled"><a><span aria-hidden="true">&larr;</span>Newer</a></li>
        {% endif %}
        {% if next_page %}
        <li class="next"><a href="/admin/posts/page/{{ next_page }}">Older<span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
        <li class="next disabled"><a>Older<span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</nav>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="/admin/posts/create">New Post</a>
    </div>
</div>
{% endblock %}
