{% extends "layout/main.html" %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% if form_errors %}
    {% for error in form_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}
    {{ csrf_token|safe }}
    <div class="form-group">
        <label for="title-box">Title</label>
        <input type="text" class="form-control" id="title-box" placeholder="Title" name="title">
    </div>
    <div class="form-group">
        <label for="content-box">Content</label>
        <textarea class="form-control" id="content-box" placeholder="Content" name="content"></textarea>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" id="location-checkbox" name="include_location" value="yes"> <strong>Include your location?</strong>
        </label>
        <input type="hidden" id="latitude-box" name="latitude">
        <input type="hidden" id="longitude-box" name="longitude">
    </div>
    <div class="form-group">
        <label for="image-selector">Image</lavel>
        <input type="file" class="form-control" id="image-selector" name="image">
    </div>
    <div class="form-group">
        <strong>Post to social networks</strong><br>
        <label class="checkbox-inline">
            {% if twitter_is_connected %}
            <input type="checkbox" id="twitter-checkbox" name="twitter" value="twitter"><span class="fa fa-twitter"></span> Twitter
            {% else %}
            <input type="checkbox" id="twitter-checkbox" name="twitter" value="twitter" disabled><span class="fa fa-twitter"></span> Twitter
            {% endif %}
        </label>
    </div>
    <div class="form-group">
        <button type="submit" name="post" value="post" class="btn btn-primary">Post</button>
        <button type="submit" name="save" value="save" class="btn btn-default">Save</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="/static/js/loc.js"></script>
{% endblock %}
