{deps, [
  {boss, ".*", {git, "git://github.com/ChicagoBoss/ChicagoBoss.git", "8f31f239bb9526ee39e95b4b45679b54e8e1b792"}},
  {bcrypt, ".*", {git, "git://github.com/smarkets/erlang-bcrypt.git", {tag, "0.5.0.3"}}},
  {oauth, ".*", {git, "git://github.com/tim/erlang-oauth.git", {tag, "v1.5.0"}}}
]}.
{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{lib_dirs, ["../ChicagoBoss/deps/elixir/lib"]}.
